@use '@angular/material' as mat;
@use '@bofa/ds/src/styles/theme' as ds;

@include mat.core();
@include ds.bofa-design-system();
@include mat.typography-hierarchy(ds.$bofa-typography);

html,
body {
  height: 100%;
  margin: 0;
  font-family: Connections, 'Helvetica Neue', Arial, sans-serif;
  background: #f5f6f8;
}
